body {
    margin: 0;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: red;
    margin: 24px;
    font-size: 36px;
    font-family: 'Rubik Moonrocks', cursive;
}
.links {
    margin: 24px;
    height: 30px;
    display: flex;
    gap: 5px;
   align-items: center;
   font-size: 30px;
}
.minilinks img {
    height: 30px;
    width: 30px;
}
.outter {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 30px;
    border: 3px solid blue;
    border-radius: 10px;
}
.top {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.screen {
    background-color: azure;
    width: 447px;
    min-height: 100px;
    font-size: 50px;
    text-align: end;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 2px black;
    margin: 5px;
    border-radius: 10px;
}
#argthree{
    padding-right: 5px;
}
#argone{
    display: flex;
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.operations {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.operations button {
    width: 25%;
    aspect-ratio: 1/1;
    font-size: 30px;
    text-align: center;
}
.digits {
    display: flex;
    flex-wrap: wrap;
}
.digits button {
    width: 25%;
    aspect-ratio: 1/1;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .screen {
        width: 300px;
    }
    .outter {
        width: 300px;
    }
    .digits button, .operations button {
        font-size: 20px;
    }
  }